[Unit]
Description=Lock laptop after closing the lid

[Service]
Type=forking
User=anej
Environment=DISPLAY=:0
ExecStart=/bin/sh /home/anej/Documents/Scripts/lock.sh

[Install]
WantedBy=suspend.target
